.navbar {
    position: fixed;

    top: 32px;

    left: 50%;

    transform: translateX(-50%);

    z-index: 1000;
}

.navbar-pill {
    padding: 12px 28px; 

    border-radius: 9999px;

    background: rgba(30, 66, 95, 0.951);

    border: 1px solid rgba(255, 255, 255, 0.08); 

    backdrop-filter: blur(12px);

    color: white; 

    font-weight: 600; 

    letter-spacing: 0.08em;
}