.opening-scene{
    height: 100vh; 

    display: flex ;

    justify-content: center;

    align-items: center;

    background: black;

}

.mason-container {
    position: relative; 

    display: inline-flex;

    justify-content: center;

    align-items: center; 
}